@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}
@model ASPNET5TechDemo.Model.User
<html>
<head>
</head>
<body>
@Model.FirstName;
@Model.LastName;
</body>
</html>